#post-form {
    margin: 3rem 5rem 3rem 30%;
}

#post-form p {
    font-size: 2rem;
}

#post-form svg {
    width: 2.2rem;
    height: 2.2rem;
}

#post-form textarea {
    font-size: 1.25rem;
    height: 400px;
    width: 625px;
}

#post-form > input {
    width: 25%;
    height: 2rem;
    font-size: 1rem;
}

#post-form > input,
#post-form textarea {
    border: 1px solid rgb(138, 201, 235);
    border-radius: 5px;
}
#post-form > input:hover,
#post-form textarea:hover,
#post-form > input:focus,
#post-form textarea:focus,
#post-form > input:focus-visible,
#post-form textarea:focus-visible {
    border-color:rgb(19, 223, 176) !important;
}

#excerpt-label + input{
    width: 50%;
}

#id_tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tag-div ul {
    margin-bottom: 2rem;
    text-align: left;
}

.tag-div li {
    display: inline-block;
    background-color: rgb(138, 201, 235);
    border: 1px solid transparent;
    border-radius: 5px;    
    color: black;
    padding: 0.5rem;
    margin: 1rem 1rem;
}

.tag-div li:hover,
.tag-div label:hover,
.tag-div input:hover {
    background-color: #766aad;
    color: white;
    cursor: pointer;
}

#form__tag-label {
    display: inline-block;
    vertical-align: middle;
}

#add-tag {
    color: white;
    background-color:#766aad;
    border-radius: 10px;
    padding: 0.5rem;
    vertical-align: middle;
}

#add-tag:hover {
    background-color:#5f4eac;
    cursor: pointer;
}

#post-form button {
    background-image: linear-gradient(-20deg, #766aad, #8ac9eb);
    border-width: 0;
    box-shadow: 0 6px 19px rgb(22 10 28 / 30%);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    width: 25%;
    transform: scale(1.0);
    transition: ease-out 200ms transform;
}

#post-form button:hover {
    background-image: rgb(58, 145, 193);
    transform: scale(1.1);
}