{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog_app/all-posts.css" %}">
{% endblock %}

{% block content %}
    {% include "blog_app/partials/header.html" %}
    <section id="all-posts" class="posts">
        <h2>ポスト達</h2>
        <ul>
            {% for specific_post in posts %}
                <li>
                    <article class="post">
                        <a href="{% url "specific-post" specific_post.slug %}">
                            <img src="{% static "{{ specific_post.image_name}}"%}" alt="{{ specific_post.title }}">
                            <div class="post_content">
                                <h3>{{ specific_post.title }}</h3>
                                <p> {{ specific_post.excerpt }}</p>
                            </div>
                        </a>
                    </article>
                </li>
                
            {% endfor %}
    </section>
    {% include "blog_app/partials/footer.html" %}
{% endblock %}