{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog_app/index.css" %}">
{% endblock %}


{% block content %}
    {% include "blog_app/partials/header.html" %}
    <section id="welcome">
        <h2 id="welcome__title"><span style="color: #766aad">ループ</span>ブログ</h2>
    </section>
    <section id="latest-posts" class="posts">
        <ul>
            {% for specific_post in posts %}
                <li>
                    <article class="post">
                        <a href="{% url "specific-post" specific_post.slug %}">
                            <img src="{% static "{{ specific_post.image_name}}"%}" alt="{{ specific_post.title }}">
                            <div class="post_content">
                                <h3>{{ specific_post.title }}</h3>
                                <p> {{ specific_post.excerpt }}</p>
                                <p>{{ specific_post.slug}}</p>
                            </div>
                        </a>
                    </article>
                </li>
                
            {% endfor %}

            {% comment %} {% include "blog_app/partials/post.html" %}
            {% include "blog_app/partials/post.html" %}
            {% include "blog_app/partials/post.html" %} {% endcomment %}
        </ul>
    </section>
    {% include "blog_app/partials/footer.html" %}
{% endblock %}
