{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog_app/one-post.css" %}">
{% endblock %}

{% block content %}
    {% include "blog_app/partials/header.html" %}
    <div id="container">
         <ul>
            <li>
            <article class="post">
                    <div class="post_content">
                        <h3>{{ specific_post.title }}</h3>
                        <div class="post_content__entry-meta">
                            <span style="color: #766aad;">タッカー・バートン | </span>
                            <span>{{ specific_post.date.year}}<span style="color: #766aad;">年</span> {{ specific_post.date.month}}<span style="color: #766aad;">月</span> {{ specific_post.date.day}}<span style="color: #766aad;">日</span></span>
                        </div>
                        <img src="{{ imgUrl }}" alt="{{ specific_post.title }}">
                        <p id="post_content__p"> {{ specific_post.content }}</p>
                    </div>
                </a>
            </article>
            </li>
        </ul>
    </div> 
       
        
    {% include "blog_app/partials/footer.html" %}
{% endblock %}