{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog_app/one-post.css" %}">
{% endblock %}

{% block content %}
    {% include "blog_app/partials/header.html" %}
        <ul>
            <li>
            <article class="post">
                    <div class="post_content">
                        <h3>{{ specific_post.title }}</h3>
                        <img src="{{ imgUrl }}" alt="{{ specific_post.title }}">
                        <p> {{ specific_post.content }}</p>
                    </div>
                </a>
            </article>
            </li>
        </ul>
        
    {% include "blog_app/partials/footer.html" %}
{% endblock %}