@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Kosugi Maru', sans-serif;
}

body {
    background-color: #fcfcfc;
    height: 110vh;
    position: relative;
    margin: 0;
    z-index: 1;
}

header {
    background-color: white;
    border-bottom: 1px solid #EEEEEF;
    text-align: left;
}

header h1 {
    margin-top: 0;
    padding-top: 1rem;
    padding-left: 8rem;
}

header h1 a {
    color: black;
}

header h1 a:hover,
header h1 a:active {
    color: #766aad;
}

header h1,
header nav {
    display: inline-block;
}

nav a {
    color: #6d6e71;
    font-size: 1.5rem;
    padding-left: 5rem;
} 
nav a:hover,
nav a:active {
    color: black;
}

nav a,
header h1 a {
    text-decoration: none;
}

h2 {
    font-weight: bolder;
    text-align: center;
}

#all-posts,
#latest-posts {
    margin-bottom: 6rem;
}

ul {
    padding-left: 0;
    list-style: none;
    text-align: center;
}

li {
    border: 1px solid #EEEEEF;
    border-radius: 0.8rem;
    box-shadow: 0 6px 19px rgb(22 10 28 / 30%);
    background-color: white;
    margin: 2rem 35%;
    padding: 1rem 0;
    z-index: 10;
    transform: scale(1);
    transition: transform 200ms ease-out, background-color 200ms ease-out,
    border-color 200ms ease-out;
}

.post a {
    color: black;
    text-decoration: none;
}

li:hover {
    z-index: 20 !important;
    background-color: #766aad;
    border-color: #8a7cce;
    transform: scale(1.2);
    transition: transform 200ms ease-out, background-color 200ms ease-out,
    border-color 200ms ease-out;

}

footer {
    clear: both;
    position: relative;
    height: 4rem;
    margin-top: -1rem;
    text-align: center;
}