{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ループブログ - プログラミングや言語についてブログ</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
    {% block css_files %}
    {% endblock %}
</head>
<body>
    <a href="{% url "add-post" %}" id="add-post">
        <svg class="index__icon">
                <use xlink:href="{% static "blog_app/images/sprite.svg" %}#icon-plus"></use>
        </svg>
    </a>

    <div id="modal">
        <div id="modal-box">
            <span>本気ですか</span>
            <div id="modal-box__options">
                <a href="{% url 'all-posts'%}{{post.slug}}delete">
                    <span id="modal-box__yes">はい</span>
                </a>
                <span id="modal-box__no">いいえ</span>
            </div>
        </div>
    </div>
    
    {% block content %}    
    {% endblock %}
    <script src="{% static "base_script.js" %}"></script>
</body>
</html>