nav a:first-of-type {
    color: black;
    text-decoration: underline;
    text-decoration-color: rgb(138, 201, 235);
}

nav a:first-of-type:hover,
nav a:first-of-type:active {
    color: #766aad;
}

#welcome__title {
    font-size: 3rem;
}

li:not(:first-child) {
    display: inline-block;
    margin: 0 1rem;
    padding: 1rem 5rem;
}