{% load static %}

<footer>
    <h3>コンタクト</h3>
    <div>
        <ul>
            <li>
                <a href="https://tuckerbarton.dev">
                    <svg class="index__icon">
                            <use xlink:href="{% static "blog_app/images/sprite.svg" %}#icon-profile"></use>
                    </svg>
                タッカーについて
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/tucker-barton/">
                    <svg class="index__icon">
                        <use xlink:href="{% static "blog_app/images/sprite.svg" %}#icon-linkedin"></use>
                    </svg>
                @tucker-barton
                </a>
            </li>
            <li>
                <a href="https://github.com/Tucker-B">
                    <svg class="index__icon">
                        <use xlink:href="{% static "blog_app/images/sprite.svg" %}#icon-github"></use>
                    </svg>
                @Tucker-B
                </a>
            </li>
        </ul>
    
    </div>
</footer>